#root {
  margin: 0;
  padding: 0;
}
body
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvas-container
{
  outline: 2px dashed blue;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 1000px;
  outline: 2px dashed blue;
}
